
        body {
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, #ffecd2, #fcb69f);
            font-family: 'Arial', sans-serif;
            overflow: hidden;
        }

        #info-container {
            text-align: center;
            color: #333;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        #lyrics-container {
            max-width: 800px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px;
        }

        h1, h3, p {
            margin: 10px 0;
            color: #333;
        }

        p {
            line-height: 1.6;
            flex: 0 0 31%; /* Adjust the width as needed */
        }